section {
  display: flex;
  justify-content: space-around;
}
div {
  height: 200px;
  width: 200px;
}
#block-1 {
  background-color: blue;
}
#block-2 {
  background-color: red;
}
#block-3 {
  background-color: green;
}
#block-4 {
  background-color: yellow;
}
